body {
  background-color: #F0ECE5;

}

#card {
  width: 500px;
  height: 300px;
  border: solid;
  text-align: center;
  /*visibility: hidden;*/
  border-radius: 25px;

  background-color: #31304D;
  color:  #F0ECE5;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  position: relative;
  
  
}



#message {
  text-align: center;
  display: none;
  color: #F0ECE5;
}

#check-answer {    
  display: none;
}

#grading {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
}

#study-deck {
  /*display: block;  */
}

button {
  background-color: #161A30;
  color:  #F0ECE5;
  border-radius: 5px;
  width: 100px;
  height: 35px;
  border-radius: 10px;
}

input::file-selector-button {
  background-color: #B6BBC4;
  color: #161A30;
  border-radius: 5px;
  width: 100px;
  height: 35px;
  font-size: 0.95rem;
  
}

.item {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
}
#progress-bar {
  display: none;
  flex-direction: row;
}
#progress {
  text-align: left; 
}
#reset {
  margin-left: auto;
  margin-right: 0;
  margin-top: auto;
  margin-bottom: auto;

  background-color: #161A30;
  color: #F0ECE5;
  font-size: 1.1rem;  
}
#reset:hover {
  background-color: #B6BBC4;
  color: #161A30;
}

p {
  font-size: 1.5rem;
}

#go-to-dashboard {
  width: 200px;
  height: 50px;
  font-size: 1.1rem;
}

button:hover {
  background-color: #B6BBC4;
  color: #161A30;
}

#study, #reset-deck {
  background-color: #B6BBC4;
  color: #161A30;
}

#study:hover, #reset-deck:hover {
  background-color: #161A30;
  color: #F0ECE5;
}

.progress {
  display: flex;
}

#display-bar {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
}

.count {
  margin: 0;
  font-size: 15px;
  color: #161A30;
}

#word-sound, #def-sound, #play-word, #play-def {
  color: #B6BBC4;

}

#word-sound {
  position: absolute;
  top: 15px;
  left: 15px;
}
#def-sound {
  position: absolute;
  bottom: 15px;
  left: 15px;
}
#play-word {
  position: absolute;
  top: 15px;
  right: 15px;
}
#play-def {
  position: absolute;
  bottom: 15px;
  right: 15px;
}

#word-sound:hover, #def-sound:hover, #play-word:hover, #play-def:hover {
  color: whitesmoke;
}